<div class="menu-item">
  <div *ngIf="!item.children"
       [routerLink]="item.route"
       [class]="getItemClasses(item)"
       class="menu-item-link"
       [class.no-cursor]="!item.route">

    <div class="menu-item-content" [class]="'level-' + (item.level || 1)">
      <mat-icon [class]="getIconClasses(item)" [class]="'level-' + (item.level || 1)">
        {{ item.icon }}
      </mat-icon>

      <span [class]="getTextClasses(item)">{{ item.label }}</span>
    </div>
  </div>

  <div *ngIf="item.children">
    <div (click)="navigationService.toggleMenuItem(item.id)"
         [class]="getItemClasses(item)"
         class="menu-item-expandable">

      <div class="menu-item-header" [class]="'level-' + (item.level || 1)">
        <div class="menu-item-content">
          <mat-icon [class]="getIconClasses(item)" [class]="'level-' + (item.level || 1)">
            {{ item.icon }}
          </mat-icon>

          <span [class]="getTextClasses(item)">{{ item.label }}</span>
        </div>

        <mat-icon class="expand-icon" [class.expanded]="navigationService.isMenuExpanded(item.id)">
          chevron_right
        </mat-icon>
      </div>
    </div>

    <div *ngIf="navigationService.isMenuExpanded(item.id)" class="submenu">
      <div class="submenu-content">
        <div *ngFor="let subItem of item.children">
          <app-sidebar-menu-item [item]="subItem"></app-sidebar-menu-item>
        </div>
      </div>
    </div>
  </div>
</div>