<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  <mat-card
    *ngFor="let item of showcaseItems"
    class="card-hover-lift cursor-pointer transition-all duration-300 hover:shadow-lg"
    (click)="navigateToShowcase(item.route)"
    [style]="'border-left: 4px solid var(--mat-sys-' + item.color + ');'"
  >
    <mat-card-header class="pb-4">
      <div mat-card-avatar class="avatar-icon" [style]="'background-color: var(--mat-sys-' + item.color + '-container); color: var(--mat-sys-on-' + item.color + '-container);'">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      <mat-card-title class="jobmagnetic-heading text-lg">{{ item.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="jobmagnetic-small text-sm mb-4" style="color: var(--mat-sys-on-surface-variant);">
        {{ item.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="justify-end">
      <button mat-button [style]="'color: var(--mat-sys-' + item.color + ');'">
        <mat-icon class="mr-1">arrow_forward</mat-icon>
        Explore
      </button>
    </mat-card-actions>
  </mat-card>
</div>
